@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.control-group input{
  display: block;

}

.controls{
  padding: 8px;
  position: relative;
}
.controls .fa{
  position: absolute;
  top: 30%;
  right: 8%;
  display: none;
}
.fa-times{
  color: red;
}
.fa-check{
  color: green;
}

.error{
  color: red;
}

#error{
  color: red;
}