<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="sr">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <title>Fitnes centar</title>
    <style>
        body{
            background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        button{
            width: 95px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="homepage.html">Fitnes centar</a>
        <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                   <!-- <a class="nav-link active" aria-current="page" href="#">Home</a>-->
                </li>
                <li class="nav-item">
                    <!--  <a class="nav-link" href="#">Features</a>-->
                  </li>
                  <li class="nav-item">
                     <!-- <a class="nav-link" href="#">Pricing</a>-->
                  </li>
              </ul>

          </div>
      </div>
  </nav>
  <div class="d-flex justify-content-center">
      <div style="background-image: url('https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2hpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60'); opacity: 0.8;
; padding: 15px; margin-top: 155px;">
          <div id="legend">
              <legend class="">Logovanje</legend>
          </div>
          <div class="control-group">
              <!-- User name-->
            <label class="control-label" for="username">Korisničko ime</label>
            <div class="controls">
                <input type="username" id="username" name="username" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label">Lozinka</label>
            <div class="controls">
                <input type="password" id="name" name="password" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div style="margin-top: 5px" class="controls">
                <button class="btn btn-light" style="border-color: black; margin-right: 10px">Poništi</button>
                <button class="btn btn-primary">Uloguj se</button>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>